body {
  background-color: #181818;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.user-profile-banner {
  align-items: left;
  border-radius: 5px;
  padding: 15px;
  margin: 5px;
  background-color: rgba(88, 88, 88, 0.75);
}

.premium-page h1 {
  text-align: left;
  width: 100%;
  margin-bottom: 20px;
}
.premium-page {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.packages {
  background-image: url('./assets/bgpremium.png');
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 2px solid #d33636;
  padding: 50px;
  border-radius: 10px;
  margin: 5px;
}

.package {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1.5px solid rgba(255, 166, 0, 0.966);
  padding: 30px;
  border-radius: 10px;
  margin: 5px;
  background-color: rgba(88, 88, 88, 0.75);
  font-weight: bold;
  color: #ffffff;
  cursor: pointer;
}

.package:hover {
  background-color: #838383a4;
  /* highlight the package when hovering over it */
}

.package button {
  margin-top: 10px;
  padding: 5px 10px;
}

.cancel-subscription-button {
  margin-top: 5px;
  
}
.cancel-subscription-button:hover {
  background-color: #f09c1fa4;

}

.close-button {
  margin-top: 5px;
  
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 1000;
}